{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://scontent.fhan5-6.fna.fbcdn.net/v/t1.15752-9/271196568_1184766989017101_7418251946046153105_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=ae9488&_nc_ohc=STMY79Q0Q5wAX8w59QY&_nc_ht=scontent.fhan5-6.fna&oh=03_AVLyJd9_4SnrXSSdvOTzoksRmqXuvhRSygdLlhycHnKiFQ&oe=620A375B')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>CaoNguyen's Blog</h1>
            <span class="subheading">A little of The Magic.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date}}
            {% if current_user.is_authenticated and current_user.id == 1: %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        {% if current_user.is_authenticated and current_user.id == 1: %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}